/* *{
  outline: 1px solid red;  
  -ms-overflow-style: none; 
} */

/* ::-webkit-scrollbar {
  display: none;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width:  100vw;
  background: linear-gradient(45deg,  #9979C1,#F07BBB);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#content{
  display: flex;
}

#header{
  display: flex;
}

.h1{
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  width: 253px;
  padding-top: 10px;
  height: 40px;
  border: 2px solid aliceblue;
  color: aliceblue;
}

#location{
  padding: 3px;
  width: 250px;
  text-align: center;
}

.square{
  cursor: pointer;
  width: 80px;
  height: 80px;
  border: 2px solid black;
  border-radius: 3px;
  background-color: #FF8EA3;
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.winner{
  border: 2px solid aliceblue;
}

.side-h1{
  font-size: 20px;
  text-align: center;
  border: 2px solid aliceblue;
  border-radius: 5px;
  width: 175px;
  color:aliceblue;
  padding-top: 10px;
  height: 40px;
  margin-left: 20px;
}

#sort-area{
  padding: 3px;
  text-align: end;
}

.switch{
  position: relative;
  display: inline-block;
  width: 38px;
}

.switch > input {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider{
  cursor: pointer;
  position: absolute;
  background-color: #ccc;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 15px;
  transition: .4s;
}

.slider::before{
  content: '';
  position: absolute;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 2px;
  background-color: aliceblue;
  height: 7px;
  width: 7px;
  left: 6px;
  bottom: 3px;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider::before {
  transform: translateX(15px);
}

#side-bar{
  /* display: flex;
  flex-direction: column-reverse; */
  margin-left: 20px;
  height: 280px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#side-bar > ol {
  margin: 0;
}

#board{ 
  display: flex;
  justify-content: center;
 }

#grid  {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 8px; 
  row-gap: 8px; 
}

.square:hover{
  border: 2px solid aliceblue;
  color: #fff;
}

.footer{
  width: 100%;
  text-align: center;
}

.btn{
  margin: 20px 40px;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  background-color: #e47cb8;
  color:aliceblue;
  border: 2px solid aliceblue;
}

.step-btn{
  cursor: pointer;
  width: 120px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 13px;
  border: 0.1px solid black;
  background-color: #e47cb8;
  color: aliceblue;
  border-radius: 5px;
}

.step-btn:focus{
  border: 2px solid aliceblue;
}


